.danger-color {
    color: red;
}
.success-color {
    color: green;
}

#console-background {
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#console {
    margin: 0;
    padding: 0;
}

#console-text {
    color: rgb(255, 255, 255);
    font-family: Monospace, serif;
    margin: 10px 0 0 10px;
}